<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.ContractFeeMapper">
    
    <resultMap type="ContractFeeVO" id="ContractFeeResult">
        <result property="id"    column="id"    />
        <result property="num"    column="num"    />
        <result property="contractNum"    column="contract_num"    />
        <result property="type"    column="type"    />
        <result property="amount"    column="amount"    />
        <result property="payMethod"    column="pay_method"    />
        <result property="payer"    column="payer"    />
        <result property="reciever"    column="reciever"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="shoukuanDate"    column="shoukuan_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerId"    column="customer_id"    />
        <result property="produce"    column="produce"    />
        <result property="dianmianName"    column="dianmian_name"    />
        <result property="dianmianNum"    column="dianmian_num"    />
        <result property="manager"    column="manager"    />
    </resultMap>

    <sql id="selectContractFeeVo">
        select
            biz_contract_fee.id, biz_contract_fee.num, biz_contract_fee.contract_num, biz_contract_fee.type, biz_contract_fee.amount,biz_contract_fee.pay_method, biz_contract_fee.payer,
            biz_contract_fee.reciever, biz_contract_fee.check_status, biz_contract_fee.shoukuan_date, biz_contract_fee.update_date, biz_contract.customer_name, biz_contract.customer_id, biz_contract.produce, biz_contract.dianmian_name, biz_contract.dianmian_num, biz_contract.manager
        from biz_contract_fee
        left join
            biz_contract
        on
            biz_contract_fee.contract_num = biz_contract.num
        left join
            sys_dept d
        on  biz_contract.dept_id = d.id
        left join
            sys_user u
        on  biz_contract.manager_id = u.id
    </sql>

    <select id="selectContractFeeList" parameterType="ContractFee" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"></include>
        <where>  
            <if test="num != null  and num != ''"> and num = #{num}</if>
            <if test="contractNum != null  and contractNum != ''"> and contract_num = #{contractNum}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="payMethod != null  and payMethod != ''"> and pay_method = #{payMethod}</if>
            <if test="payer != null  and payer != ''"> and payer = #{payer}</if>
            <if test="reciever != null  and reciever != ''"> and reciever = #{reciever}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="shoukuanDate != null "> and shoukuan_date = #{shoukuanDate}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectContractFeeById" parameterType="Long" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"/>
        where id = #{id}
    </select>

    <select id="selectContractFeeByContractNum" parameterType="String" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"/>
        where contract_num = #{contractNum}
    </select>
        
    <insert id="insertContractFee" parameterType="ContractFee" useGeneratedKeys="true" keyProperty="id">
        insert into biz_contract_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">num,</if>
            <if test="contractNum != null and contractNum != ''">contract_num,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="payMethod != null and payMethod != ''">pay_method,</if>
            <if test="payer != null and payer != ''">payer,</if>
            <if test="reciever != null and reciever != ''">reciever,</if>
            <if test="checkStatus != null and checkStatus != ''">check_status,</if>
            <if test="shoukuanDate != null">shoukuan_date,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">#{num},</if>
            <if test="contractNum != null and contractNum != ''">#{contractNum},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="payMethod != null and payMethod != ''">#{payMethod},</if>
            <if test="payer != null and payer != ''">#{payer},</if>
            <if test="reciever != null and reciever != ''">#{reciever},</if>
            <if test="checkStatus != null and checkStatus != ''">#{checkStatus},</if>
            <if test="shoukuanDate != null">#{shoukuanDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateContractFee" parameterType="ContractFee">
        update biz_contract_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="num != null and num != ''">num = #{num},</if>
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="payer != null and payer != ''">payer = #{payer},</if>
            <if test="reciever != null and reciever != ''">reciever = #{reciever},</if>
            <if test="checkStatus != null and checkStatus != ''">check_status = #{checkStatus},</if>
            <if test="shoukuanDate != null">shoukuan_date = #{shoukuanDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateContractFeeByNum" parameterType="ContractFeeBO">
        update biz_contract_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="payer != null and payer != ''">payer = #{payer},</if>
            <if test="reciever != null and reciever != ''">reciever = #{reciever},</if>
            <if test="checkStatus != null and checkStatus != ''">check_status = #{checkStatus},</if>
            <if test="shoukuanDate != null">shoukuan_date = #{shoukuanDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where num = #{num}
    </update>

    <delete id="deleteContractFeeById" parameterType="Long">
        delete from biz_contract_fee where id = #{id}
    </delete>

    <delete id="deleteContractFeeByIds" parameterType="String">
        delete from biz_contract_fee where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>