<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.ContractFeeMapper">
    
    <resultMap type="ContractFeeVO" id="ContractFeeResult">
        <result property="id"    column="id"    />
        <result property="num"    column="num"    />
        <result property="contractNum"    column="contract_num"    />
        <result property="type"    column="type"    />
        <result property="amount"    column="amount"    />
        <result property="payMethod"    column="pay_method"    />
        <result property="payer"    column="payer"    />
        <result property="reciever"    column="reciever"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="shoukuanDate"    column="shoukuan_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerId"    column="customer_id"    />
        <result property="produce"    column="produce"    />
        <result property="dianmianName"    column="dianmian_name"    />
        <result property="dianmianNum"    column="dianmian_num"    />
        <result property="manager"    column="manager"    />
        <result property="deptName"    column="dept_name"    />
        <result property="companyName"    column="company_name"    />
        <association property="sysCompany"    column="company_id" javaType="SysCompany" resultMap="companyResult" />
    </resultMap>

    <resultMap id="companyResult" type="SysCompany">
        <id     property="id"   column="id"     />
        <result property="name" column="name"   />
        <result property="simpleName" column="simple_name"   />
        <result property="sourceName" column="source_name"   />
        <result property="sign"   column="sign"      />
        <result property="type"   column="company_type" />
        <result property="contactPerson"   column="contact_person" />
        <result property="address"   column="address" />
        <result property="image"   column="image" />
        <result property="phone"   column="phone" />
        <result property="introduce"   column="introduce" />
        <result property="inputDate"   column="input_date" />
        <result property="cityId"   column="city_id" />
        <result property="status"   column="status" />
    </resultMap>

    <sql id="selectContractFeeVo">
        select
            biz_contract_fee.id, biz_contract_fee.num, biz_contract_fee.contract_num, biz_contract_fee.type, biz_contract_fee.amount,biz_contract_fee.pay_method, biz_contract_fee.payer,biz_contract_fee.reciever, biz_contract_fee.receiver_id, biz_contract_fee.check_status, biz_contract_fee.shoukuan_date,
            biz_contract.customer_name, biz_contract.customer_id, biz_contract.produce, biz_contract.dianmian_name, biz_contract.dianmian_num, biz_contract.manager,
            d.dept_name as dept_name,
            pd.dept_name as company_name,
            u.company_id as company_id,
            sys_company.name, sys_company.simple_name, sys_company.source_name, sys_company.sign, sys_company.type company_type, sys_company.contact_person, sys_company.address, sys_company.image, sys_company.phone, sys_company.introduce, sys_company.city_id, sys_company.status
        from
            biz_contract_fee
        left join
            biz_contract
        on
            biz_contract_fee.contract_num = biz_contract.num
        left join
            sys_dept d
        on
            biz_contract.dept_id = d.id
        left join
            sys_dept pd
        on
            d.parent_id = pd.id
        left join
            sys_user u
        on
            biz_contract.manager_id = u.id
        left join
            sys_company
        on
            u.company_id = sys_company.id

    </sql>

    <select id="selectContractFeeList" parameterType="ContractFeeBO" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"></include>
        <where>  
            <if test="num != null  and num != ''"> and num = #{num}</if>
            <if test="contractNum != null  and contractNum != ''"> and contract_num = #{contractNum}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="payMethod != null  and payMethod != ''"> and pay_method = #{payMethod}</if>
            <if test="payer != null  and payer != ''"> and payer = #{payer}</if>
            <if test="reciever != null  and reciever != ''"> and reciever = #{reciever}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and biz_contract_fee.check_status = #{checkStatus}</if>
            <if test="shoukuanDate != null "> and shoukuan_date = #{shoukuanDate}</if>
            <if test="deptName != null and deptName != ''"> and deptName = #{deptName}</if>
            <if test="produce != null  and produce != ''"> and biz_contract.produce = #{produce}</if>
            <if test="keywords != null and keywords != ''">and (
                instr(biz_contract.dianmian_name, #{keywords}) +
                instr(biz_contract_fee.num, #{keywords}) +
                instr(biz_contract_fee.payer, #{keywords})
                ) > 0</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectContractFeeById" parameterType="Long" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"/>
        where biz_contract_fee.id = #{id}
    </select>

    <select id="selectContractFeeByContractNum" parameterType="String" resultMap="ContractFeeResult">
        <include refid="selectContractFeeVo"/>
        where biz_contract_fee.contract_num = #{contractNum}
    </select>
        
    <insert id="insertContractFee" parameterType="ContractFee" useGeneratedKeys="true" keyProperty="id">
        insert into biz_contract_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">num,</if>
            <if test="contractNum != null and contractNum != ''">contract_num,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="payMethod != null and payMethod != ''">pay_method,</if>
            <if test="payer != null and payer != ''">payer,</if>
            <if test="reciever != null and reciever != ''">reciever,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="checkStatus != null and checkStatus != ''">check_status,</if>
            <if test="shoukuanDate != null">shoukuan_date,</if>
            update_date,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">#{num},</if>
            <if test="contractNum != null and contractNum != ''">#{contractNum},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="payMethod != null and payMethod != ''">#{payMethod},</if>
            <if test="payer != null and payer != ''">#{payer},</if>
            <if test="reciever != null and reciever != ''">#{reciever},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="checkStatus != null and checkStatus != ''">#{checkStatus},</if>
            <if test="shoukuanDate != null">#{shoukuanDate},</if>
            now()
         </trim>
    </insert>

    <update id="updateContractFee" parameterType="ContractFee">
        update biz_contract_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="num != null and num != ''">num = #{num},</if>
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="payer != null and payer != ''">payer = #{payer},</if>
            <if test="reciever != null and reciever != ''">reciever = #{reciever},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="checkStatus != null and checkStatus != ''">check_status = #{checkStatus},</if>
            <if test="shoukuanDate != null">shoukuan_date = #{shoukuanDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where biz_contract_fee.id = #{id}
    </update>

    <update id="updateContractFeeByNum" parameterType="ContractFeeBO">
        update biz_contract_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="payer != null and payer != ''">payer = #{payer},</if>
            <if test="reciever != null and reciever != ''">reciever = #{reciever},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="checkStatus != null and checkStatus != ''">check_status = #{checkStatus},</if>
            <if test="shoukuanDate != null">shoukuan_date = #{shoukuanDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where biz_contract_fee.num = #{num}
    </update>

    <delete id="deleteContractFeeById" parameterType="Long">
        delete from biz_contract_fee where biz_contract_fee.id = #{id}
    </delete>

    <delete id="deleteContractFeeByIds" parameterType="String">
        delete from biz_contract_fee where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>