<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.CustomerReportMapper">

    <resultMap type="com.merchant.system.domain.vo.CustomerReportVO" id="CustomerReportVO">
        <result column="user_name" property="userName" />
        <result column="phonenumber" property="phonenumber" />
        <result column="dept_name" property="deptName" />
        <result column="company_name" property="companyName" />
        <result column="post_name" property="postName" />
        <result column="xiansuo_num" property="xiansuoNum" />
        <result column="customer_num" property="customerNum" />
        <result column="gj_num" property="gjNum" />
        <result column="dandian_contract_num" property="dandianContractNum"/>
        <result column="quyu_contract_num" property="quyuContractNum" />
        <result column="dandian_num" property="dandianNum" />
        <result column="quyu_dianmian_num" property="quyuDianmianNum" />
        <result column="dianmian_num" property="dianmianNum" />
    </resultMap>

    <resultMap type="com.merchant.system.domain.vo.CustomerFeeReportVO" id="CustomerFeeReportVO">
        <result column="user_name" property="userName" />
        <result column="phonenumber" property="phonenumber" />
        <result column="dept_name" property="deptName" />
        <result column="company_name" property="companyName" />
        <result column="post_name" property="postName" />
        <result column="lvyue_fee" property="lvyueFee" />
        <result column="jingying_manager_fee" property="jingyingManagerFee" />
        <result column="yunying_manager_fee" property="yunyingManagerFee" />
        <result column="system_use_fee" property="systemUseFee" />
        <result column="system_maintenance_fee" property="systemMaintenanceFee" />
        <result column="daiban_fee" property="daibanFee" />
        <result column="guohuo_fee" property="guohuoFee" />
        <result column="jiameng_manager_fee" property="jiamengManagerFee" />
        <result column="yeji_buchangjin" property="yejiBuchangjin" />
        <result column="total_fee" property="totalFee" />
    </resultMap>

    <resultMap type="com.merchant.system.domain.vo.JingyingManagerFeeReportVO" id="JingyingManagerFeeReportVO">
        <result column="dept_name" property="deptName" />
        <result property="companyName" column="company_name"/>
        <result column="user_name" property="userName" />
        <result column="post_name" property="postName" />
        <result column="num" property="contractNum" />
        <result column="code" property="contractCode" />
        <result column="customerName" property="customerName" />
        <result column="dianmian_name" property="dianmianName" />
        <result column="customerPhone" property="customerPhone" />
        <result column="jingying_manager_fee_yingshou" property="jingyingManagerFeeYingshou" />
        <result column="jingying_manager_fee_yishou" property="jingyingManagerFeeYishou" />
    </resultMap>

    <select id="selectCustomerReportList" resultMap="CustomerReportVO" parameterType="com.merchant.system.domain.bo.CustomerReportBO">
        select
            u.user_name,
            u.phonenumber,
            d.id,
            d.dept_name,
            cm.`name` company_name,
            p.post_name,
            IFNULL(xiansuo_num, 0) xiansuo_num,
            IFNULL(customer_num, 0) customer_num,
            IFNULL(gj_num, 0) gj_num,
            IFNULL(dandian_contract_num, 0) dandian_contract_num,
            IFNULL(quyu_contract_num, 0) quyu_contract_num,
            IFNULL(dandian_num, 0) dandian_num,
            IFNULL(quyu_dianmian_num, 0) quyu_dianmian_num,
            IFNULL(dandian_num,0) + IFNULL(quyu_dianmian_num,0) as dianmian_num
        from
            sys_user u
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = d.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        -- 线索和客户
        left JOIN
            (SELECT
            c.user_id uid,
            count(case when c.`status` = 0 then 1 else null end) xiansuo_num, -- 线索状态为0
            count(case when c.`status` = 1 then 1 else null end) customer_num -- 客户状态为1
            FROM
            biz_customer c
            WHERE
            c.resource &lt;= '6'
            <if test="inputDateStart !=  null">and date_format(c.input_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd !=  null">and date_format(c.input_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT(c.input_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
        GROUP BY
            uid
            ) as xiansuo_num
        on
            xiansuo_num.uid = u.id
        -- 客户跟进
        LEFT JOIN
            (select
            gj.sys_user_id uid,
            COUNT(gj.id) as gj_num
            from
            biz_genjin gj
            where 1=1
            <if test="inputDateStart !=  null">and date_format(gj.genjin_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd !=  null">and date_format(gj.genjin_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT(gj.genjin_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
        GROUP BY
            gj.sys_user_id
            ) as gj_num
        on
            gj_num.uid = u.id
        -- 合同
        LEFT JOIN
            (
            SELECT
            contract.manager_id uid,
            count(case when contract.produce = 0 then 1 else null end) dandian_contract_num,
            count(case when contract.produce = 1 then 1 else null end) quyu_contract_num
            FROM
            biz_contract contract
            where 1=1
            <if test="inputDateStart !=  null">and date_format(contract.sign_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd !=  null">and date_format(contract.sign_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT(contract.sign_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
        GROUP BY
            contract.manager_id
            ) contract_num
        ON
            contract_num.uid = u.id
        -- 店面
        LEFT JOIN
            (
            SELECT
                dianmian.sys_user_id uid,
                count(case when dianmian.type = 0 then 1 else null end) dandian_num, -- 单店
                count(case when dianmian.type = 1 then 1 else null end) quyu_dianmian_num -- 区域
            FROM
                biz_dianmian dianmian
            WHERE
                dianmian.status BETWEEN 1 and 3 -- 闭店状态为0 需要排除出去，这里使用BETWEEN 1 and 3
                <if test="inputDateStart !=  null">and date_format(dianmian.set_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
                <if test="inputDateEnd !=  null">and date_format(dianmian.set_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
                <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT(dianmian.set_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
        GROUP BY
                dianmian.sys_user_id
            ) dianmian
        ON
            dianmian.uid = u.id
        <where>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="username != null  and username != ''"> and u.user_name like concat('%', #{username}, '%')</if>
            ${params.dataScope}
        </where>
    </select>



    <select id="selectCustomerFeeReportList" resultMap="CustomerFeeReportVO" parameterType="com.merchant.system.domain.bo.CustomerReportBO">
        select
            u.user_name,
            u.phonenumber,
            d.id,
            d.dept_name,
            cm.`name` company_name,
            p.post_name,
            IFNULL(lvyue_fee, 0) lvyue_fee,lvyue_fee,
            IFNULL(jingying_manager_fee, 0) jingying_manager_fee,
            IFNULL(yunying_manager_fee, 0) yunying_manager_fee,
            IFNULL(system_use_fee, 0) system_use_fee,
            IFNULL(system_maintenance_fee, 0) system_maintenance_fee,
            IFNULL(daiban_fee, 0) daiban_fee,
            IFNULL(guohuo_fee, 0) guohuo_fee,
            IFNULL(jiameng_manager_fee, 0) jiameng_manager_fee,
            IFNULL(yeji_buchangjin, 0) yeji_buchangjin,
            IFNULL(lvyue_fee, 0) +  IFNULL(jingying_manager_fee, 0) +
            IFNULL(yunying_manager_fee, 0) + IFNULL(system_use_fee, 0) + IFNULL(system_maintenance_fee, 0) + IFNULL(daiban_fee, 0)
            + IFNULL(guohuo_fee, 0)  + IFNULL(jiameng_manager_fee, 0) + IFNULL(yeji_buchangjin, 0) as total_fee
        from
            sys_user u
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = d.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        left JOIN
        (
            select
                fee.receiver_id uid,
                SUM(case when fee.type = '0' then fee.amount else 0 end) lvyue_fee,
                SUM(case when fee.type = '1' then fee.amount else 0 end) jingying_manager_fee,
                SUM(case when fee.type = '2' then fee.amount else 0 end) yunying_manager_fee,
                SUM(case when fee.type = '3' then fee.amount else 0 end) system_use_fee,
                SUM(case when fee.type = '4' then fee.amount else 0 end) system_maintenance_fee,
                SUM(case when fee.type = '6' then fee.amount else 0 end) daiban_fee,
                SUM(case when fee.type = '5' then fee.amount else 0 end) guohuo_fee,
                SUM(case when fee.type = '7' then fee.amount else 0 end) jiameng_manager_fee,
                SUM(case when fee.type = '8' then fee.amount else 0 end) yeji_buchangjin
            FROM
                biz_contract_fee fee
            <where>
                <if test="inputDateStart !=  null ">and date_format(fee.shoukuan_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
                <if test="inputDateEnd !=  null ">and date_format(fee.shoukuan_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
                <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT( fee.shoukuan_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
            </where>
        GROUP BY
                fee.receiver_id
        ) fee
        ON fee.uid = u.id
        -- 查询条件
        <where>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="username != null  and username != ''"> and u.user_name like concat('%', #{username}, '%')</if>
            ${params.dataScope}
        </where>
    </select>

    <select id="selectJingyingMannagerFeeReportList" parameterType="com.merchant.system.domain.bo.CustomerReportBO" resultMap="JingyingManagerFeeReportVO">
        select
            d.dept_name, -- 公司部门
            cm.`name` company_name,  -- 公司名称
            u.user_name, -- 姓名
            p.post_name, -- 职务
            contract.num, -- 合同
            contract.code, -- 合同
            contract.dianmian_name, -- 区域/店面
            c.`name` customerName,  -- 客户名
            c.phone customerPhone ,-- 客户电话
            contract.fee -> '$.jingyingManagerFee.total' as jingying_manager_fee_yingshou, -- 应收经营管理费
            jingying_manager_fee_yishou -- 已收经营管理费
        from
            biz_contract contract
        left JOIN
            sys_user u
        ON
            u.id = contract.manager_id
        left JOIN
            biz_customer c
        ON
            c.id = contract.customer_id
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = d.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        -- contract_fee
        left JOIN
        (
            select
                fee.shoukuan_date shoukuan_date,
                fee.contract_num contract_num,
                SUM(case when fee.type = '1' then fee.amount else 0 end) jingying_manager_fee_yishou
            FROM
                biz_contract_fee fee
            <where>
                <if test="inputDateStart != null and inputDateStart != ''">and date_format(fee.shoukuan_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
                <if test="inputDateEnd !=  null and inputDateEnd != '' ">and date_format(fee.shoukuan_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
                <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT( fee.shoukuan_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
            </where>
            GROUP BY
                fee.contract_num
        ) fee
        ON fee.contract_num = contract.num
        -- 查询条件
        <where>
            1=1
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="username != null  and username != ''"> and u.user_name like concat('%', #{username}, '%')</if>
            <if test="inputDateStart ==  null and inputDateEnd == null">and DATE_FORMAT( contract.sign_date, '%Y%m' ) = DATE_FORMAT(CURDATE(), '%Y%m')</if>
            <if test="inputDateStart !=  null and inputDateStart !=''">and date_format(contract.sign_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd !=  null and inputDateEnd !=''">and date_format(contract.sign_date,'%y%m%d') &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            ${params.dataScope}
        </where>
    </select>
</mapper>