<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="companyName" column="company_name"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <result property="phone" column="phone"/>
        <result property="level" column="level"/>
        <result property="customerNeeds" column="customer_needs"/>
        <result property="customerCompany" column="customer_company"/>
        <result property="province" column="province"/>
        <result property="dianmianAddress" column="dianmian_address"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="resource" column="resource"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="luruName" column="luru_name"/>
        <result property="experience" column="experience"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="inputDate" column="input_date"/>
        <result property="genjinDate" column="genjin_date"/>
        <result property="genjinStatus" column="genjin_status"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectCustomerVo">
        select biz_customer.id, biz_customer.num, biz_customer.name, biz_customer.company_name customer_company ,biz_customer.phone, biz_customer.level, biz_customer.customer_needs,
        biz_customer.province, biz_customer.dianmian_address, biz_customer.city, biz_customer.district, biz_customer.resource, biz_customer.user_id, biz_customer.username, biz_customer.luru_name, biz_customer.experience, biz_customer.remark, biz_customer.status, biz_customer.input_date, biz_customer.update_date,
        biz_customer.genjin_date, biz_customer.genjin_status, biz_customer.dept_id, d.dept_name,company.name company_name
        from biz_customer
        left join sys_user u on biz_customer.user_id = u.id
        left join sys_dept d on u.dept_id = d.id
        left join sys_company company on d.company_id = company.id
    </sql>

    <select id="selectCustomerList" parameterType="CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="userId !=  null  and userId != ''">and biz_customer.user_id = #{userId}</if>
            <if test="name !=  null  and name != ''">and biz_customer.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''">and biz_customer.phone = #{phone}</if>
            <if test="level != null  and level != ''">and biz_customer.level = #{level}</if>
            <if test="customerNeeds != null  and customerNeeds != ''">and biz_customer.customer_needs = #{customerNeeds}</if>
            <if test="companyName != null  and companyName != ''">and biz_customer.company_name like concat('%', #{companyName},
                '%')
            </if>
            <if test="province != null  and province != ''">and biz_customer.province = #{province}</if>
            <if test="dianmianAddress != null  and dianmianAddress != ''">and biz_customer.dianmian_address = #{dianmianAddress}</if>
            <if test="city != null  and city != ''">and biz_customer.city = #{city}</if>
            <if test="district != null  and district != ''">and biz_customer.district = #{district}</if>
            <if test="resource != null  and resource != ''">and biz_customer.resource = #{resource}</if>
            <if test="username != null  and username != ''">and biz_customer.username like concat('%', #{username}, '%')</if>
            <if test="inputDateStart != null  and inputDateStart != ''">and date_format(biz_customer.input_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd != null and inputDateEnd != ''">and date_format(biz_customer.input_date,'%y%m%d')  &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="status != null and status != ''">and biz_customer.status = #{status}</if>
            <choose>
                <when test="genjinStatus != null and genjinStatus != ''">and biz_customer.genjin_status = #{genjinStatus}</when>
                <otherwise>
                    and biz_customer.genjin_status not in ('5','7','8')
                </otherwise>
            </choose>
            <if test="daysSecond != null and daysSecond != ''">and biz_customer.genjin_date &gt;= DATE_SUB(NOW(),INTERVAL #{daysSecond} DAY)</if>
            <if test="daysFirst != null and daysFirst != ''">and biz_customer.genjin_date &lt;= DATE_SUB(NOW(),INTERVAL #{daysFirst} DAY) </if>
            <if test="keywords != null and keywords != ''">and (
                instr(d.dept_name, #{keywords}) +
                instr(biz_customer.name, #{keywords}) +
                instr(biz_customer.phone, #{keywords})
                ) > 0</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>

    </select>

    <select id="selectXiansuoList" parameterType="CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="userId !=  null  and userId != ''">and biz_customer.user_id = #{userId}</if>
            <if test="name !=  null  and name != ''">and biz_customer.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''">and biz_customer.phone = #{phone}</if>
            <if test="level != null  and level != ''">and biz_customer.level = #{level}</if>
            <if test="customerNeeds != null  and customerNeeds != ''">and biz_customer.customer_needs = #{customerNeeds}</if>
            <if test="companyName != null  and companyName != ''">and biz_customer.company_name like concat('%', #{companyName},
                '%')
            </if>
            <if test="province != null  and province != ''">and biz_customer.province = #{province}</if>
            <if test="dianmianAddress != null  and dianmianAddress != ''">and biz_customer.dianmian_address = #{dianmianAddress}</if>
            <if test="city != null  and city != ''">and biz_customer.city = #{city}</if>
            <if test="district != null  and district != ''">and biz_customer.district = #{district}</if>
            <if test="resource != null  and resource != ''">and biz_customer.resource = #{resource}</if>
            <if test="username != null  and username != ''">and biz_customer.username like concat('%', #{username}, '%')</if>
            <if test="inputDateStart != null  and inputDateStart != ''">and date_format(biz_customer.input_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd != null and inputDateEnd != ''">and date_format(biz_customer.input_date,'%y%m%d')  &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="status != null and status != ''">and biz_customer.status = #{status}</if>
            <if test="genjinStatus != null and genjinStatus != ''">and biz_customer.genjin_status = #{genjinStatus}</if>
            <if test="daysFirst != null and daysFirst != ''">and biz_customer.genjin_date &lt;= DATE_SUB(NOW(),INTERVAL #{daysFirst} DAY) </if>
            <if test="daysSecond != null and daysSecond != ''">and biz_customer.genjin_date &gt;= DATE_SUB(NOW(),INTERVAL #{daysSecond} DAY)</if>
            <if test="keywords != null and keywords != ''">and (
                instr(d.dept_name, #{keywords}) +
                instr(biz_customer.name, #{keywords}) +
                instr(biz_customer.phone, #{keywords})
                ) > 0</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectCustomerById" parameterType="Integer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.id = #{id} and  biz_customer.status = 1
    </select>

    <select id="selectXiansuoById" parameterType="Integer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.id = #{id} and  biz_customer.status = 0
    </select>

    <select id="selectCustomerByIds" parameterType="com.merchant.system.domain.bo.CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.status = 1 and biz_customer.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectXiansuoByIds" parameterType="CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.status = 0 and biz_customer.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="countCustomerByPhone" resultType="java.lang.Integer">
        select
            count(*)
        from
            biz_customer c
        where
            c.status = '1' and c.user_id = #{userId} and FIND_IN_SET(#{phone},c.phone)
    </select>

    <select id="countXiansuoByPhone" resultType="java.lang.Integer">
        select
            count(*)
        from
            biz_customer c
        <where>
            <if test="phone !=  null  and phone != ''">and c.phone = #{phone}</if>
        </where>
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into biz_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">dept_id,</if>
            <if test="num != null and num != ''">num,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="resource != null and resource != ''">resource,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="luruName != null and luruName != ''">luru_name,</if>
            <if test="experience != null and experience != ''">experience,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="genjinStatus != null and genjinStatus != ''">genjin_status,</if>
            input_date,
            update_date
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">#{deptId},</if>
            <if test="num != null and num != ''">#{num},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">#{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">#{dianmianAddress},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="resource != null and resource != ''">#{resource},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="luruName != null and luruName != ''">#{luruName},</if>
            <if test="experience != null and experience != ''">#{experience},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="genjinStatus != null and genjinStatus != ''">#{genjinStatus},</if>
            now(),now()
        </trim>
    </insert>

    <update id="updateCustomer" parameterType="CustomerBO">
        update biz_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">dept_id = #{deptId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs = #{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address = #{dianmianAddress},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="resource != null and resource != ''">resource = #{resource},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="luruName != null and luruName != ''">luru_name = #{luruName},</if>
            <if test="experience != null and experience != ''">experience = #{experience},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="genjinDate != null">genjin_date = #{genjinDate},</if>
            <if test="genjinStatus != null and genjinStatus != ''">genjin_status = #{genjinStatus},</if>

            update_date = now()
        </trim>
        where id = #{id}
    </update>

    <update id="updateCustomerByIds" parameterType="CustomerBO">
        update biz_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null and deptId != ''">dept_id = #{deptId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs = #{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address = #{dianmianAddress},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="resource != null and resource != ''">resource = #{resource},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="luruName != null and luruName != ''">luru_name = #{luruName},</if>
            <if test="experience != null and experience != ''">experience = #{experience},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="genjinStatus != null and genjinStatus != ''">genjin_status = #{genjinStatus},</if>
            update_date = now()
        </trim>
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="autoDegradeToXianSuo" parameterType="Integer">
        update
            biz_customer c
        SET
            c.`status` = 0,
            c.update_date = NOW()
        WHERE
            c.`status` = 1
        and
            c.genjin_date &lt; DATE_SUB(NOW(),INTERVAL #{intervalDays} DAY)
    </update>

    <!-- 更新客户最新跟进时间 -->
    <update id="updateGenjinDate" parameterType="Integer">
        update biz_customer c set c.genjin_date = now() where c.id = #{id}
    </update>

    <delete id="deleteCustomerById" parameterType="Integer">
        delete from biz_customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from biz_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="clearRedundantXiansuo" parameterType="String">
        DELETE
        FROM
            biz_customer
        WHERE
            biz_customer.`status` = 0
        and
            biz_customer.phone = #{phone}
        AND biz_customer.update_date not in (
            SELECT temp.update_date from
                (SELECT
                    max(update_date) update_date
                FROM
                    biz_customer
                GROUP BY
                    phone
                HAVING
                    count(phone) > 1
                ) as temp
        )
    </delete>

</mapper>