<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.CustomerReportMapper">

    <resultMap type="com.merchant.system.domain.vo.CustomerReportVO" id="CustomerReportVO">
        <result column="user_name" property="userName" />
        <result column="phonenumber" property="phonenumber" />
        <result column="dept_name" property="deptName" />
        <result column="company_name" property="companyName" />
        <result column="post_name" property="postName" />
        <result column="xiansuo_num" property="xiansuoNum" />
        <result column="customer_num" property="customerNum" />
        <result column="gj_num" property="gjNum" />
        <result column="dandian_contract_num" property="dandianContractNum"/>
        <result column="quyu_contract_num" property="quyuContractNum" />
        <result column="quyu_dianmian_num" property="quyuDianmianNum" />
        <result column="dianmian_num" property="dianmianNum" />
    </resultMap>

    <resultMap type="com.merchant.system.domain.vo.CustomerFeeReportVO" id="CustomerFeeReportVO">
        <result column="user_name" property="userName" />
        <result column="phonenumber" property="phonenumber" />
        <result column="dept_name" property="deptName" />
        <result column="company_name" property="companyName" />
        <result column="post_name" property="postName" />
        <result column="lvyue_fee" property="lvyueFee" />
        <result column="jingying_manager_fee" property="jingyingManagerFee" />
        <result column="yunying_manager_fee" property="yunyingManagerFee" />
        <result column="system_use_fee" property="systemUseFee" />
        <result column="system_maintenance_fee" property="systemMaintenanceFee" />
        <result column="daiban_fee" property="daibanFee" />
        <result column="guohuo_fee" property="guohuoFee" />
        <result column="total_fee" property="totalFee" />
    </resultMap>

    <select id="selectCustomerReportList" resultMap="CustomerReportVO" parameterType="com.merchant.system.domain.bo.CustomerReportBO">
        select
            u.user_name,
            u.phonenumber,
            d.id,
            d.dept_name,
            cm.`name` company_name,
            p.post_name,
            IFNULL(xiansuo_num, 0) xiansuo_num,
            IFNULL(customer_num, 0) customer_num,
            IFNULL(gj_num, 0) gj_num,
            IFNULL(dandian_contract_num, 0) dandian_contract_num,
            IFNULL(quyu_contract_num, 0) quyu_contract_num,
            IFNULL(quyu_dianmian_num, 0) quyu_dianmian_num,
            IFNULL(dandian_contract_num + quyu_dianmian_num, 0) as dianmian_num
        from
            sys_user u
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = u.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        -- 线索和客户
        left JOIN
            (SELECT
            c.user_id uid,
            count(case when c.`status` = 0 then 1 else null end) xiansuo_num, -- 线索状态为0
            count(case when c.`status` = 1 then 1 else null end) customer_num -- 客户状态为1
            FROM
            biz_customer c
            WHERE
            c.resource &lt;= '6'
            <if test="inputDate !=  null  and inputDate != ''">and c.input_date &gt; #{inputDate}</if>
            GROUP BY
            uid
            ) as xiansuo_num
        on
            xiansuo_num.uid = u.id
        -- 客户跟进
        LEFT JOIN
            (select
            gj.sys_user_id uid,
            COUNT(gj.id) as gj_num
            from
            biz_genjin gj
            where 1=1
            <if test="inputDate !=  null  and inputDate != ''">and gj.genjin_date &gt; #{inputDate}</if>
            GROUP BY
            gj.sys_user_id
            ) as gj_num
        on
            gj_num.uid = u.id
        -- 合同
        LEFT JOIN
            (
            SELECT
            contract.manager_id uid,
            count(case when contract.produce = 0 then 1 else null end) dandian_contract_num,
            count(case when contract.produce = 1 then 1 else null end) quyu_contract_num
            -- 	COUNT(contract.id) dandian_contract_num
            FROM
            biz_contract contract
            where 1=1
            <if test="inputDate !=  null  and inputDate != ''">and contract.sign_date &gt; #{inputDate}</if>
            GROUP BY
            contract.manager_id
            ) contract_num
        ON
            contract_num.uid = u.id
        -- 店面
        LEFT JOIN
            (
            SELECT
                dianmian.sys_user_id uid,
            COUNT(dianmian.id) quyu_dianmian_num
            FROM
                biz_dianmian dianmian
            WHERE
                dianmian.type = 1 -- 区域加盟
                <if test="inputDate !=  null  and inputDate != ''">and dianmian.open_date &gt; #{inputDate}</if>
            GROUP BY
                dianmian.sys_user_id
            ) dianmian
        ON
            dianmian.uid = u.id
        <where>
            <if test="deptId !=  null">and d.id = #{deptId}</if>
            <if test="userId !=  null">and u.id = #{userId}</if>
        </where>
    </select>



    <select id="selectCustomerFeeReportList" resultMap="CustomerFeeReportVO" parameterType="CustomerReportBO">
        select
            u.user_name,
            u.phonenumber,
            d.id,
            d.dept_name,
            cm.`name` company_name,
            p.post_name,
            lvyue_fee,
            jingying_manager_fee,
            yunying_manager_fee,
            system_use_fee,
            system_maintenance_fee,
            daiban_fee,
            guohuo_fee,
            lvyue_fee + jingying_manager_fee + yunying_manager_fee + system_use_fee + system_maintenance_fee + daiban_fee + guohuo_fee as total_fee
        from
            sys_user u
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = u.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        left JOIN
        (
            select
                fee.receiver_id uid,
                SUM(case when fee.type = '履约保证金' then fee.amount else 0 end) lvyue_fee,
                SUM(case when fee.type = '经营管理费' then fee.amount else 0 end) jingying_manager_fee,
                SUM(case when fee.type = '运营管理费' then fee.amount else 0 end) yunying_manager_fee,
                SUM(case when fee.type = '系统使用费' then fee.amount else 0 end) system_use_fee,
                SUM(case when fee.type = '系统维护费' then fee.amount else 0 end) system_maintenance_fee,
                SUM(case when fee.type = '代办费' then fee.amount else 0 end) daiban_fee,
                SUM(case when fee.type = '过户费' then fee.amount else 0 end) guohuo_fee
            FROM
                biz_contract_fee fee
            <where>
                <if test="inputDate !=  null  and inputDate != ''">and fee.shoukuan_date &gt; #{inputDate}</if>
            </where>
        GROUP BY
                fee.receiver_id
        ) fee
        ON fee.uid = u.id
        -- 查询条件
        <where>
            <if test="deptId !=  null">and d.id = #{deptId}</if>
            <if test="userId !=  null">and u.id = #{userId}</if>
        </where>
    </select>

    <select id="">
        select
            u.id,
            u.user_name,
            u.phonenumber,
            dept_id,
          dept_name,
            cm.`name` company_name,
            p.post_name,
          contract.contract_num,
            jingying_manager_fee_yingshou,
        jingying_manager_fee_yishou

        from
            sys_user u
        left join
            sys_dept d
        ON
            u.dept_id = d.id
        left JOIN
            sys_company cm
        ON
            cm.id = u.company_id
        left JOIN
            sys_user_post up
        ON
            up.user_id = u.id
        left JOIN
            sys_post p
        ON
            p.post_id = up.post_id
        -- 合同
        LEFT JOIN
        (
        select
        contract.manager_id,
        contract.num contract_num,
        contract.fee -> '$.jingyingManagerFee.total' as 	jingying_manager_fee_yingshou

        from
        biz_contract contract
        ) contract
        ON
        contract.manager_id = u.id
        -- contract_fee
        left JOIN
        (
            select
                fee.contract_num contract_num,
                SUM(case when fee.type = '经营管理费' then fee.amount else 0 end) jingying_manager_fee_yishou
            FROM
                biz_contract_fee fee
            GROUP BY
                fee.contract_num
        ) fee
        ON fee.contract_num = contract.contract_num
        -- 查询条件
        where
            d.id = 103 AND
            u.id = 1
    </select>


</mapper>