<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <result property="phone" column="phone"/>
        <result property="level" column="level"/>
        <result property="customerNeeds" column="customer_needs"/>
        <result property="companyName" column="company_name"/>
        <result property="province" column="province"/>
        <result property="dianmianAddress" column="dianmian_address"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="resource" column="resource"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="luruName" column="luru_name"/>
        <result property="experience" column="experience"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="inputDate" column="input_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectCustomerVo">
        select id,num, name, phone, level, customer_needs, company_name, province, dianmian_address, city, district, resource, user_id, username, luru_name, experience, remark, status, input_date, update_date,
         genjin_date
         from biz_customer
    </sql>

    <select id="selectCustomerList" parameterType="CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="name !=  null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="level != null  and level != ''">and level = #{level}</if>
            <if test="customerNeeds != null  and customerNeeds != ''">and customer_needs = #{customerNeeds}</if>
            <if test="companyName != null  and companyName != ''">and company_name like concat('%', #{companyName},
                '%')
            </if>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="dianmianAddress != null  and dianmianAddress != ''">and dianmian_address = #{dianmianAddress}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="district != null  and district != ''">and district = #{district}</if>
            <if test="resource != null  and resource != ''">and resource = #{resource}</if>
            <if test="username != null  and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="inputDateStart != null ">and date_format(input_date,'%y%m%d') &gt;= date_format(#{inputDateStart},'%y%m%d')</if>
            <if test="inputDateEnd != null ">and date_format(input_date,'%y%m%d')  &lt;= date_format(#{inputDateEnd},'%y%m%d')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectCustomerById" parameterType="Integer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where id = #{id} and  biz_customer.status = 0
    </select>

    <select id="selectXiansuoById" parameterType="Integer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.status = 0 and id = #{id}
    </select>

    <select id="selectCustomerByIds" parameterType="com.merchant.system.domain.bo.CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.status = 1 and id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectXiansuoByIds" parameterType="CustomerBO" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where biz_customer.status = 0 and id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="countCustomerByPhone" parameterType="String" resultType="java.lang.Integer">
        select
            count(*)
        from
            biz_customer c
        where
            c.phone = #{phone}
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into biz_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">num,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="resource != null and resource != ''">resource,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="luruName != null and luruName != ''">luru_name,</if>
            <if test="experience != null and experience != ''">experience,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null and status != ''">status,</if>
            input_date,
            update_date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null and num != ''">#{num},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">#{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">#{dianmianAddress},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="resource != null and resource != ''">#{resource},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="luruName != null and luruName != ''">#{luruName},</if>
            <if test="experience != null and experience != ''">#{experience},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            now(),now()
        </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update biz_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs = #{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address = #{dianmianAddress},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="resource != null and resource != ''">resource = #{resource},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="luruName != null and luruName != ''">luru_name = #{luruName},</if>
            <if test="experience != null and experience != ''">experience = #{experience},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            update_date = now()
        </trim>
        where id = #{id}
    </update>

    <update id="updateCustomerByIds" parameterType="CustomerBO">
        update biz_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="customerNeeds != null and customerNeeds != ''">customer_needs = #{customerNeeds},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="dianmianAddress != null and dianmianAddress != ''">dianmian_address = #{dianmianAddress},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="resource != null and resource != ''">resource = #{resource},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="luruName != null and luruName != ''">luru_name = #{luruName},</if>
            <if test="experience != null and experience != ''">experience = #{experience},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            update_date = now()
        </trim>
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>

    </update>

    <update id="autoDegradeToXianSuo" parameterType="Integer">
        update
            biz_customer c
        SET
            c.`status` = 0,
            c.update_date = NOW()
        WHERE
            c.`status` = 1
        and
            c.genjin_date &lt; DATE_SUB(NOW(),INTERVAL #{intervalDays} DAY)
    </update>

    <!-- 更新客户最新跟进时间 -->
    <update id="updateGenjinDate" parameterType="Integer">
        update biz_customer c set c.genjin_date = now() where c.id = #{id}
    </update>

    <delete id="deleteCustomerById" parameterType="Integer">
        delete from biz_customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from biz_customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <delete id="clearRedundantXiansuo" parameterType="String">
        DELETE
        FROM
            biz_customer
        WHERE
            biz_customer.`status` = 0
        and
            biz_customer.phone = #{phone}
        AND biz_customer.update_date not in (
            SELECT temp.update_date from
                (SELECT
                    max(update_date) update_date
                FROM
                    biz_customer
                GROUP BY
                    phone
                HAVING
                    count(phone) > 1
                ) as temp
        )
    </delete>

</mapper>