<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.DianmianMapper">
    
    <resultMap type="com.merchant.system.domain.vo.DianmianVO" id="DianmianResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="diandongId"    column="diandong_id"    />
        <result property="diandongName"    column="diandong_name"    />
        <result property="diandongPhone"    column="diandong_phone"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="address"    column="address"    />
        <result property="checkResult"    column="check_result"    />
        <result property="openDate"    column="open_date"    />
        <result property="contractNum"    column="contract_num"    />
        <result property="type"    column="type"    />
        <result property="area"    column="area"    />
        <result property="closeDate"    column="close_date"    />
        <result property="closeDays"    column="close_days"    />
        <result property="closeReason"    column="close_reason"    />
        <result property="checkInfo"    column="check_info"    />
        <result property="remark"    column="remark"    />
        <association property="customer" javaType="com.merchant.system.domain.Customer">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="phone" property="phone"/>
            <result column="customerName" property="name"/>
            <result column="username" property="username"/>
            <result column="num" property="num"/>
            <result column="level" property="level"/>
            <result column="customer_needs" property="customerNeeds"/>
            <result column="company_name" property="companyName"/>
            <result column="province" property="province"/>
            <result column="city" property="city"/>
            <result column="district" property="district"/>
            <result column="dianmian_address" property="dianmianAddress"/>
            <result column="resource" property="resource"/>
            <result column="status" property="status"/>
            <result column="luru_name" property="luruName"/>
            <result column="experience" property="experience"/>
            <result column="remark" property="remark"/>
            <result column="genjin_date" property="genjinDate"/>
            <result column="remark" property="remark"/>
            <result column="input_date" property="inputDate"/>
            <result column="update_date" property="updateDate"/>
        </association>
    </resultMap>

    <sql id="selectDianmianVo">
        select dianmian.id, dianmian.dept_id, dianmian.diandong_id, dianmian.diandong_name, dianmian.diandong_phone, dianmian.sys_user_id, dianmian.company_id, dianmian.name, dianmian.status, dianmian.province, dianmian.city, dianmian.district, dianmian.longitude, dianmian.latitude, dianmian.address, dianmian.check_result, dianmian.open_date, dianmian.contract_num, dianmian.type, dianmian.area, dianmian.close_date, dianmian.close_days, dianmian.close_reason, dianmian.check_info, dianmian.remark,
        c.name as customerName,c.*
        from
            biz_dianmian dianmian
        left join
            biz_customer c
        on
            dianmian.diandong_id = c.id
        left join
            sys_dept d
        on
            dianmian.dept_id = d.id
        left join
            sys_user u
        on
            dianmian.sys_user_id = u.id
    </sql>

    <select id="selectCustomerById" parameterType="Integer" resultType="Customer">
        select * from biz_customer dianmian
        where dianmian.id = #{diandongId}
    </select>

    <select id="selectDianmianList" parameterType="com.merchant.system.domain.bo.DianmianBO" resultMap="DianmianResult">
        <include refid="selectDianmianVo"/>
        <where>
            <if test="diandongId != null "> and dianmian.diandong_id = #{diandongId}</if>
            <if test="diandongName != null  and diandongName != ''"> and dianmian.diandong_name like concat('%', #{diandongName}, '%')</if>
            <if test="diandongPhone != null  and diandongPhone != ''"> and dianmian.diandong_phone = #{diandongPhone}</if>
            <if test="companyId != null "> and dianmian.company_id = #{companyId}</if>
            <if test="name != null  and name != ''"> and dianmian.`name` like concat('%', #{name}, '%')</if>
            <if test="status != null  and status != ''"> and dianmian.status = #{status}</if>
            <if test="province != null  and province != ''"> and dianmian.province = #{province}</if>
            <if test="city != null  and city != ''"> and dianmian.city = #{city}</if>
            <if test="district != null  and district != ''"> and dianmian.district = #{district}</if>
            <if test="address != null  and address != ''"> and dianmian.address = #{address}</if>
            <if test="checkResult != null  and checkResult != ''"> and dianmian.check_result = #{checkResult}</if>
            <if test="openDate != null "> and dianmian.open_date = #{openDate}</if>
            <if test="contractNum != null  and contractNum != ''"> and dianmian.contract_num = #{contractNum}</if>
            <if test="type != null  and type != ''"> and dianmian.`type` = #{type}</if>
            <if test="area != null  and area != ''"> and dianmian.area = #{area}</if>
            <if test="keywords != null and keywords != ''">and (
                instr(dianmian.name, #{keywords}) +
                instr(dianmian.area, #{keywords}) +
                instr(dianmian.address, #{keywords})
                ) > 0</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectDianmianById" parameterType="Integer" resultMap="DianmianResult">
        <include refid="selectDianmianVo"/>
        where dianmian.id = #{id}
    </select>
    <select id="selectDianmianByContractNum" parameterType="String" resultMap="DianmianResult">
        <include refid="selectDianmianVo"/>
        where dianmian.contract_num = #{contractNum}
    </select>

    <insert id="insertDianmian" parameterType="Dianmian" useGeneratedKeys="true" keyProperty="id">
        insert into biz_dianmian
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="diandongId != null">diandong_id,</if>
            <if test="diandongName != null and diandongName != ''">diandong_name,</if>
            <if test="diandongPhone != null and diandongPhone != ''">diandong_phone,</if>
            <if test="sysUserId != null">sys_user_id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="longitude != null and longitude != ''">longitude,</if>
            <if test="latitude != null and latitude != ''">latitude,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="checkResult != null and checkResult != ''">check_result,</if>
            <if test="openDate != null">open_date,</if>
            <if test="contractNum != null and contractNum != ''">contractNum,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="area != null and area != ''">area,</if>
            <if test="closeDate != null">close_date,</if>
            <if test="closeDays != null">close_days,</if>
            <if test="closeReason != null">close_reason,</if>
            <if test="checkInfo != null">check_info,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="diandongId != null">#{diandongId},</if>
            <if test="diandongName != null and diandongName != ''">#{diandongName},</if>
            <if test="diandongPhone != null and diandongPhone != ''">#{diandongPhone},</if>
            <if test="sysUserId != null">#{sysUserId},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="longitude != null and longitude != ''">#{longitude},</if>
            <if test="latitude != null and latitude != ''">#{latitude},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="checkResult != null and checkResult != ''">#{checkResult},</if>
            <if test="openDate != null">#{openDate},</if>
            <if test="contractNum != null and contractNum != ''">#{contractNum},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="area != null and area != ''">#{area},</if>
            <if test="closeDate != null">#{closeDate},</if>
            <if test="closeDays != null">#{closeDays},</if>
            <if test="closeReason != null">#{closeReason},</if>
            <if test="checkInfo != null">#{checkInfo},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDianmian" parameterType="Dianmian">
        update biz_dianmian
        <trim prefix="SET" suffixOverrides=",">
            <if test="diandongId != null">diandong_id = #{diandongId},</if>
            <if test="diandongName != null and diandongName != ''">diandong_name = #{diandongName},</if>
            <if test="diandongPhone != null and diandongPhone != ''">diandong_phone = #{diandongPhone},</if>
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="checkResult != null and checkResult != ''">check_result = #{checkResult},</if>
            <if test="openDate != null">open_date = #{openDate},</if>
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="closeDate != null">close_date = #{closeDate},</if>
            <if test="closeDays != null">close_days = #{closeDays},</if>
            <if test="closeReason != null">close_reason = #{closeReason},</if>
            <if test="checkInfo != null">check_info = #{checkInfo},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where biz_dianmian.id = #{id}
    </update>

    <update id="updateDianmianByContractNum" parameterType="Dianmian">
        update biz_dianmian
        <trim prefix="SET" suffixOverrides=",">
            <if test="diandongId != null">diandong_id = #{diandongId},</if>
            <if test="diandongName != null and diandongName != ''">diandong_name = #{diandongName},</if>
            <if test="diandongPhone != null and diandongPhone != ''">diandong_phone = #{diandongPhone},</if>
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="checkResult != null and checkResult != ''">check_result = #{checkResult},</if>
            <if test="openDate != null">open_date = #{openDate},</if>
            <if test="contractNum != null and contractNum != ''">contract_num = #{contractNum},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="closeDate != null">close_date = #{closeDate},</if>
            <if test="closeDays != null">close_days = #{closeDays},</if>
            <if test="closeReason != null">close_reason = #{closeReason},</if>
            <if test="checkInfo != null">check_info = #{checkInfo},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where biz_dianmian.contract_num = #{contractNum}
    </update>

    <delete id="deleteDianmianById" parameterType="Integer">
        delete from biz_dianmian where biz_dianmian.id = #{id}
    </delete>

    <delete id="deleteDianmianByIds" parameterType="String">
        delete from biz_dianmian where biz_dianmian.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>