<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.merchant.system.mapper.ProvinceMapper">
    
    <resultMap type="com.merchant.common.bean.ProvinceBean" id="provinceBean">
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="proRemark"    column="pro_remark"    />
    </resultMap>
    <select id="getAllProvinces" resultType="java.util.Map">
        select `name`, code from t_province
    </select>
    <select id="getAllProvinceObjects" resultMap="provinceBean" >
        select `name`, code, pro_remark from t_province
    </select>
    <select id="getProvinceObjectByProId" resultMap="provinceBean" parameterType="Integer">
        select `name`,code, pro_remark from t_province where code = #{code}
    </select>


</mapper>